@import-normalize;

body {
  background-color: #f6f7ff;
}
.header {
  display: flex;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  padding: 3em;
}
.main-section {
  max-width: 700px;
  margin: 0 auto;
}
.brand {
  margin: 2em;
}

@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5ea3bbe508815409b2adc81a/5ea3bbe591ec4517da05ba1d_Inter-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5ea3bbe508815409b2adc81a/5ea3bbe591ec4514f805ba18_Inter-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5ea3bbe508815409b2adc81a/5ea3bbe591ec4583a305ba38_Inter-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5ea3bbe508815409b2adc81a/5ea3bbe591ec45777305ba34_Inter-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
