lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

build/

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock
git remote add heroku-client https://git.heroku.com/mimo-valiu-client.git
git remote add heroku-server https://git.heroku.com/mimo-valiu-server.git

git subtree push --prefix server heroku-server main
git subtree push --prefix client heroku-client main